:root {
   --bg: #f6f7fb;
   --card: #fff;
   --accent: #4f46e5;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
   font-family: Arial;
   background: var(--bg);
   color: #0f172a;
}
.app-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2rem;
}
.card {
   background: var(--card);
   padding: 2rem;
   border-radius: 12px;
   box-shadow: 0 8px 24px rgba(15, 23, 42, 0.06);
   width: 100%;
   max-width: 720px;
}
.card p{
   margin : 12px 0;
}
.button {
   background: var(--accent);
   color: white;
   padding: 0.6rem 1rem;
   border-radius: 8px;
   border: none;
   cursor: pointer;
}
.options {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   margin-top: 1rem;
}
.option {
   padding: 0.75rem 1rem;
   border-radius: 8px;
   border: 1px solid #e6e9ef;
   cursor: pointer;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.option span:nth-last-child(){
   font-size: 8px;
}
.option.correct {
   border-color: #10b981;
   background: #ecfdf5;
}
.option.wrong {
   border-color: #ef4444;
   background: #fff1f2;
}